.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -320px;
    background-color: #fff;
    min-width: 320px;
    z-index: 1111;
    transition: 0.5s left ease-in-out;
}

.sidebar.open {
    left: 0;
}

.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 111;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 64px 70px;
    font-size: 22px;
    font-weight: 600;

}

.nav a {
    color: black;
    text-decoration: none;
}

.nav a:hover {
    color: rgba(88, 172, 255, 1);

}

.nav a.active {
    color:rgba(0, 89, 178, 1);
    text-decoration: underline;
}
.close {
    cursor: pointer;
    border: none;
    background: transparent;
    position: absolute;
    top: 16px;
    right: 24px;
}

.close img {

}
