.item {
    border-bottom: 1px solid rgba(229, 229, 229, 1);
}

.item:last-of-type {
    border-bottom: none;
}

.users {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    table-layout: fixed;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    border-collapse: collapse;
}

.users tbody tr td:first-child{
    font-weight: 300;
}

.buttonsContainer {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 700px;
}

.thead {
    background: rgba(229, 229, 229, 1);
    padding: 12px 18px;
    font-weight: 600;
    border-radius: 10px;
    overflow: hidden;
}

.nameCol {
    padding: 12px 18px;
    width: 50%;
}

.ageCol {
    width: 50%;
    padding: 12px 0;

}