.App {
    --header_height: 60px;
    font-family: 'Montserrat', sans-serif;
    padding: 50px 15px;
}

.hw {
    position: relative;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.hwTitle {
    max-width: 1170px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin: 70px auto;
}

.hwTitle::after{
    content: '';
    position: absolute;
    height: 1px;
    right: 0;
    left: 0;
    transform: translateY(36px);
    background-color: rgba(217, 217, 217, 1);
}

